@model UpdateProductPageVM
@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";


}

<form asp-action="UpdateProduct" asp-controller="Product" method="post" class="p-3 w-75 m-auto">


    <input type="hidden" asp-for="@Model.ResponseModel.ID" />
    <div class="mb-auto">
        <label>Product ismini giriniz</label>
        <input asp-for="@Model.ResponseModel.ProductName" class="form-control" />
    </div>

    <div class="mb-auto">
        <label>Fiyat  giriniz</label>
        <input asp-for="@Model.ResponseModel.UnitPrice" class="form-control" />
    </div>
    <div class="mb-auto">
        <label>Stock Giriniz  giriniz</label>
        <input asp-for="@Model.ResponseModel.UnitInStock" class="form-control" />
    </div>
    <div class="mb-auto">
        <label>Category ID  giriniz</label>
        <input asp-for="@Model.ResponseModel.CategoryID" class="form-control" />
    </div>


    <div class="mb-auto">
        <button class="btn btn-primary">ÜRÜNÜ Güncelle</button>
    </div>



</form>